main { padding: 45px 20px }
main h2 { font: 700 32px/32px 'Inter' }

.main__top {
    display: flex;
    justify-content: space-between;
}

.search { position: relative }

.search__img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0,-50%);
}

.search__input {
    width: 250px;
    height: 45px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    font: 400 14px/17px 'Inter';
    color: #C4C4C4;
    padding-left: 45px;
}

.search__input::placeholder {
    font: 400 14px/17px 'Inter';
    color: #C4C4C4;
}